<% time = Time.now %>
<!DOCTYPE html>
<html>
  <head>
    <title>Stream It</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% sleep 3 %>
    <!-- Time till this fragment: <%=  Time.now - time %> -->
    <%= yield(:header) %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <%= yield(:posts) %>
          <!-- Time till this fragment: <%=  Time.now - time %> -->

          <% sleep 1 %>
          <!-- Time till this fragment: <%=  Time.now - time %> -->
          <%= yield(:pagination) %>
        </div>
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <% sleep 1 %>
          <!-- Time till this fragment: <%=  Time.now - time %> -->
          <%= yield(:siebar_about) %>

          <% sleep 1 %>
          <!-- Time till this fragment: <%=  Time.now - time %> -->
          <%= yield(:siebar_archives) %>
          <% sleep 1 %>
          <!-- Time till this fragment: <%=  Time.now - time %> -->
          <%= yield(:siebar_else_where) %>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- Time till this fragment: <%=  Time.now - time %> -->